<div [formGroup]="setupService.contract_setup_form_step_main">
<input type="hidden" formControlName="id">
<input type="hidden" formControlName="building_id">

  <mat-grid-list cols="2" rowHeight="45px">
    <mat-grid-tile>
      <div class="header_tile">
        <h2 mat-dialog-title>{{setupService.contract_setup_form_step_main.controls['id'].value?"Изменить настройки договора":"Настройки договора"}}</h2>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1">
      <div class="toggle_tile">
        <mat-slide-toggle
          *ngIf="setupService.contract_setup_form_step_main.controls['id'].value"
          [checked]="globalService.editCardTrigger$.value"
          (change)="globalService.editCardToggle($event)"
        > Внести изменения
        </mat-slide-toggle>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>

<mat-progress-bar mode="query" *ngIf="setupService.feeIsLoaded$.value == false && globalService.contractSetupExists$.value == true"></mat-progress-bar>

<mat-stepper [linear]="true" *ngIf="globalService.contractSetupExists$.value == false || setupService.feeIsLoaded$.value == true">
    <mat-step>
        <ng-template matStepLabel>Основное</ng-template>
      <mat-divider></mat-divider>
      <div [formGroup]="setupService.contract_setup_form_step_commercial">

      <mat-grid-list cols="12" rowHeight="75px">
        <mat-grid-tile colspan="5">
          <p class="paragraph_tile">Как называется "Арендная плата" в Вашем договоре аренды?</p>
        </mat-grid-tile>
          <mat-grid-tile colspan="7">
            <mat-form-field appearance="fill">
              <mat-label>Например: "Базовая арендная плата", "Основная арендная плата" ...</mat-label>
              <input matInput
                     formControlName="fixed_rent_name" autocomplete="off">
              <mat-error>Обязательное поле</mat-error>
            </mat-form-field>
          </mat-grid-tile>
      </mat-grid-list>
      </div>

      <mat-grid-list cols="12" rowHeight="67px">
        <mat-grid-tile colspan="5">
          <p class="paragraph_tile">Какие регулярные сборы оплачивает Арендатор?</p>
        </mat-grid-tile>

        <mat-grid-tile colspan="7">


          <div class="mat-chip-list-wrapper">
            <mat-form-field appearance="fill">
              <mat-label>Например: "Эксплуатационный платёж", "Маркетинговый сбор" ...</mat-label>
                <mat-chip-list #chipList_periodical_fee aria-label='Например: "Эксплуатационный платёж", "Маркетинговый сбор" ...'>
                  <mat-chip
                    class="chip-text"
                    *ngFor="let fee of setupService.periodicalFeeArray"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="setupService.removePeriodicalFeeChip(fee)">
                    {{fee.periodical_fee_name}}
                    <div *ngIf="globalService.editCardTrigger$.value">
                      <span>&nbsp;</span>
                      <span>&nbsp;</span>
                      <span
                        (click)="setupService.removePeriodicalFeeChip(fee)"
                      > <mat-icon class="chip-icon"
                      >cancel</mat-icon></span>
                    </div>
                  </mat-chip>
                  <input
                    [disabled]="globalService.editCardTrigger$.value == false"
                    placeholder="Введите название платежа и нажмите Enter"
                    [matChipInputFor]="chipList_periodical_fee"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="setupService.addPeriodicalFeeChip($event)"
                    autocomplete="off">
                </mat-chip-list>
            </mat-form-field>
          </div>
        </mat-grid-tile>

        <mat-grid-tile colspan="5">
          <p class="paragraph_tile">Какие единовременные сборы оплачивает Арендатор?</p>
        </mat-grid-tile>

        <mat-grid-tile colspan="7">

          <div class="mat-chip-list-wrapper">
            <mat-form-field appearance="fill">
              <mat-label>Например: "Монтаж стеклянных витрин"...</mat-label>
                <mat-chip-list #chipList_one_time_fee aria-label='Например: "Монтаж стеклянных витрин"...'>
                  <mat-chip
                    class="chip-text"
                    *ngFor="let fee of setupService.oneTimeFeeArray"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="setupService.removeOneTimeFeeChip(fee)">
                    {{fee.one_time_fee_name}}
                    <div *ngIf="globalService.editCardTrigger$.value">
                      <span>&nbsp;</span>
                      <span>&nbsp;</span>
                      <span
                        (click)="setupService.removeOneTimeFeeChip(fee)"
                      > <mat-icon class="chip-icon"
                      >cancel</mat-icon></span>
                    </div>
                  </mat-chip>
                  <input
                    placeholder="Введите название платежа и нажмите Enter"
                    [disabled]="globalService.editCardTrigger$.value == false"
                    [matChipInputFor]="chipList_one_time_fee"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="setupService.addOneTimeFeeChip($event)"
                    autocomplete="off">
                </mat-chip-list>
            </mat-form-field>
          </div>
        </mat-grid-tile>

        <mat-grid-tile colspan="5">
          <p class="paragraph_tile">Какие коммунальные ресурсы оплачивает Арендатор по приборам учёта?</p>
        </mat-grid-tile>

        <mat-grid-tile colspan="7">

          <div class="mat-chip-list-wrapper">
            <mat-form-field appearance="fill">
              <mat-label>Например: "Электроэнергия", "Холодная вода", "Газ"...</mat-label>
                <mat-chip-list #chipList_utilities aria-label='Например: "Электроэнергия", "Холодная вода", "Газ"...'>
                  <mat-chip
                    class="chip-text"
                    *ngFor="let fee of setupService.utilityFeeArray"
                    [selectable]="selectable"
                    [removable]="removable"
                    (removed)="setupService.removeUtilityFeeChip(fee)">
                    {{fee.utility_name}}
                    <div *ngIf="globalService.editCardTrigger$.value">
                      <span>&nbsp;</span>
                      <span>&nbsp;</span>
                      <span
                        (click)="setupService.removeUtilityFeeChip(fee)"
                      > <mat-icon class="chip-icon"
                      >cancel</mat-icon></span>
                    </div>
                  </mat-chip>
                  <input
                    placeholder="Введите название платежа и нажмите Enter"
                    [disabled]="globalService.editCardTrigger$.value == false"
                    [matChipInputFor]="chipList_utilities"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="setupService.addUtilityFeeChip($event)"
                    autocomplete="off">
                </mat-chip-list>
            </mat-form-field>
          </div>
        </mat-grid-tile>

      </mat-grid-list>

      <mat-grid-list cols="12" rowHeight="67px">

              <div [formGroup]="setupService.contract_setup_form_step_tnr" label="Плата от товарооборота">
                <mat-grid-tile colspan="4">
                  <span class="paragraph_tile_left">Арендатор оплачивает плату от товарооборота?</span>
                </mat-grid-tile>
                <mat-grid-tile colspan="1">
                <div class="toggle_tile_align_left">
                      <mat-slide-toggle
                        formControlName = "turnover_fee_is_applicable"
                        [checked]="setupService.turnoverFeeIsApplicable.value"
                        (change)="setupService.turnoverFeeIsApplicableChange($event)">
                        <span *ngIf="setupService.turnoverFeeIsApplicable.value == true">Да</span>
                        <span *ngIf="setupService.turnoverFeeIsApplicable.value == false">Нет</span>
                      </mat-slide-toggle>
                    </div>
                </mat-grid-tile>
              </div>


              <div [formGroup]="setupService.contract_setup_form_step_CAutils"
                    label="Компенсация затрат на коммунальные ресурсы для мест общего пользования">
                <mat-grid-tile colspan="5">
                  <span class="paragraph_tile_right">
                    Арендатор компенсирует затраты Арендодателя на коммунальные ресурсы для мест общего пользования?</span>
                </mat-grid-tile>
                <mat-grid-tile colspan="1">
                  <div class="toggle_tile_align_right">
                      <mat-slide-toggle
                        formControlName = "CA_utilities_compensation_is_applicable"
                        [checked]="setupService.caUtilitiesCompensationIsApplicable.value"
                        (change)="setupService.caUtilitiesCompensationIsApplicableChange($event)">
                        <span *ngIf="setupService.caUtilitiesCompensationIsApplicable.value == true">Да</span>
                        <span *ngIf="setupService.caUtilitiesCompensationIsApplicable.value == false">Нет</span>
                      </mat-slide-toggle>
                    </div>
                </mat-grid-tile>
              </div>

              <div [formGroup]="setupService.contract_setup_form_step_guarantee"
                    label="Гарантийное обеспечение">
                <mat-grid-tile colspan="4">
                        <span class="paragraph_tile_left">
                          Арендатор вносит гарантийное обеспечение?</span>
                </mat-grid-tile>
                <mat-grid-tile colspan="1">
                  <div class="toggle_tile_align_left">
                    <mat-slide-toggle
                      formControlName = "guarantee_deposit_required"
                      [checked]="setupService.guaranteeDepositRequired.value"
                      (change)="setupService.guaranteeDepositRequiredChange($event)">
                      <span *ngIf="setupService.guaranteeDepositRequired.value == true">Да</span>
                      <span *ngIf="setupService.guaranteeDepositRequired.value == false">Нет</span>
                    </mat-slide-toggle>
                  </div>
                </mat-grid-tile>
              </div>

              <div [formGroup]="setupService.contract_setup_form_step_guarantee"
                    label="Страхование">
                <mat-grid-tile colspan="5">
                              <span class="paragraph_tile_right">
                                Арендатор предоставляет страховой полис?</span>
                </mat-grid-tile>
                <mat-grid-tile colspan="1">
                  <div class="toggle_tile_align_right">

                    <mat-slide-toggle
                      formControlName = "insurance_required"
                      [checked]="setupService.insuranceRequired.value"
                      (change)="setupService.insuranceRequiredChange($event)">
                      <span *ngIf="setupService.insuranceRequired.value == true">Да</span>
                      <span *ngIf="setupService.insuranceRequired.value == false">Нет</span>
                    </mat-slide-toggle>
                  </div>
                </mat-grid-tile>
              </div>
            </mat-grid-list>
      <mat-divider></mat-divider>
      <mat-grid-list cols="2" rowHeight="40px">
        <mat-grid-tile colspan="1">
          <div class="btn-left">
            <button
              mat-raised-button
              color="accent"
              type="button"
              (click)="onClose()"

            >Отмена</button>

            <button
              mat-raised-button
              color="primary"
              [disabled]="globalService.editCardTrigger$.value == false
            || setupService.contract_setup_form_step_main.invalid
            || setupService.contract_setup_form_step_commercial.invalid
            || setupService.contract_setup_form_step_tnr.invalid
            || setupService.contract_setup_form_step_CAutils.invalid
            || setupService.contract_setup_form_step_guarantee.invalid"
              (click)="onSubmit()"
            >
              Сохранить изменения
            </button>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
          <div class="btn-right">
            <button mat-button matStepperNext>Далее/Пропустить</button>
          </div>
        </mat-grid-tile>
      </mat-grid-list>



    </mat-step>

    <mat-step [stepControl]="setupService.contract_setup_form_step_commercial">
      <form [formGroup]="setupService.contract_setup_form_step_commercial" label="Арендная плата и ТО">
          <ng-template matStepLabel>{{setupService.fixedRentNameSubject.value}}{{setupService.turnoverFeeName.value}}</ng-template>
        <mat-divider></mat-divider>

            <mat-grid-list cols="12" rowHeight="75px">
              <mat-grid-tile colspan="5">
                <p class="paragraph_tile">{{setupService.fixedRentNameSubject.value}} указывается за 1 кв.м. помещения или за помещение полностью?</p>
              </mat-grid-tile>
              <mat-grid-tile colspan="7">
                <mat-form-field appearance="fill">
                  <mat-label></mat-label>
                  <mat-select
                    placeholder=""
                    formControlName="fixed_rent_calculation_method">
                    <mat-option [value]="option.value" *ngFor="let option of enumService.CalculationMethod">{{option.viewValue}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile colspan="5">
                <p class="paragraph_tile">За какой период времени указывается {{setupService.fixedRentNameSubject.value}}?</p>
                </mat-grid-tile>
                <mat-grid-tile colspan="7">
                  <mat-form-field appearance="fill">
                    <mat-label></mat-label>
                    <mat-select
                      placeholder=""
                      formControlName="fixed_rent_calculation_period">
                      <mat-option [value]="option.value" *ngFor="let option of enumService.CalculationPeriod">{{option.viewValue}}</mat-option>
                    </mat-select>
                    <mat-hint align="start">Например: ХХХ рублей {{setupService.fixedRentCalculationObjectSubject.value}} в месяц
                      или ХХХ рублей {{setupService.fixedRentCalculationObjectSubject.value}} в год</mat-hint>
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="5">
                  <p class="paragraph_tile">{{setupService.fixedRentNameSubject.value}} оплачивается в порядке предоплаты или постоплаты?</p>
                </mat-grid-tile>
                <mat-grid-tile colspan="3">
                  <mat-form-field appearance="fill">
                    <mat-label></mat-label>
                    <mat-select
                      placeholder=""
                      formControlName="fixed_rent_prepayment_or_postpayment">
                      <mat-option [value]="option.value" *ngFor="let option of enumService.PrepaymentOrPostpayment">{{option.viewValue}}</mat-option>
                    </mat-select>

                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="4">
                  <mat-form-field appearance="fill" *ngIf="setupService.fixedRentPrePaymentOrPostPayment.value == 'Prepayment'">
                    <mat-label>Число в предшествующем месяце</mat-label>
                    <mat-select
                      placeholder="Число в предшествующем месяце"
                      formControlName="fixed_rent_advance_payment_day">
                      <mat-option [value]="option.value" *ngFor="let option of enumService.monthDays">{{option.viewValue}}</mat-option>
                    </mat-select>
                    <mat-hint align="start">Срок оплаты за следующий месяц</mat-hint>
                  </mat-form-field>
                  <mat-form-field appearance="fill" *ngIf="setupService.fixedRentPrePaymentOrPostPayment.value == 'Postpayment'">
                    <mat-label>Число в следующем месяце</mat-label>
                    <mat-select
                      placeholder="Число в следующем месяце"
                      formControlName="fixed_rent_post_payment_day">
                      <mat-option [value]="option.value" *ngFor="let option of enumService.monthDays">{{option.viewValue}}</mat-option>
                    </mat-select>
                    <mat-hint align="start">Срок оплаты за предыдущий месяц</mat-hint>
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="5">
                  <p class="paragraph_tile">Каким образом {{setupService.fixedRentNameSubject.value}} ежегодно индексируется?</p>
                </mat-grid-tile>

                <mat-grid-tile colspan="3">
                  <mat-form-field appearance="fill">
                    <mat-label></mat-label>
                    <mat-select
                      placeholder=""
                      formControlName="fixed_rent_indexation_type">
                      <mat-option [value]="option.value" *ngFor="let option of enumService.indexationType">{{option.viewValue}}</mat-option>
                    </mat-select>

                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="4">
                  <mat-form-field appearance="fill">
                    <mat-label>Значение % индексации</mat-label>
                    <input matInput formControlName="fixed_rent_indexation_fixed" autocomplete="off">
                    <mat-error>Введите число с 2 знаками после точки</mat-error>
                    <mat-hint>{{setupService.fixedRentNameSubject.value}} увеличивется ежегодно на этот %</mat-hint>
                  </mat-form-field>
                </mat-grid-tile>

              </mat-grid-list>
          </form>
      <div *ngIf="setupService.turnoverFeeIsApplicable.value == true">

      <form [formGroup]="setupService.contract_setup_form_step_tnr" label="Плата от товарооборота">
        <mat-grid-list cols="12" rowHeight="75px">
          <mat-grid-tile colspan="5">
            <p class="paragraph_tile">За какой период времени рассчитывается Плата от товарооборота?</p>
          </mat-grid-tile>
          <mat-grid-tile colspan="7">
            <mat-form-field appearance="fill">
              <mat-label></mat-label>
              <mat-select
                placeholder=""
                formControlName="turnover_fee_period">
                <mat-option [value]="option.value" *ngFor="let option of enumService.turnoverFeePeriods">{{option.viewValue}}</mat-option>
              </mat-select>
              <mat-hint align="start">Арендатор предоставляет данные о товарообороте за этот период</mat-hint>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="12" rowHeight="90px">
          <mat-grid-tile colspan="3">
            <p class="paragraph_tile">До какого числа предоставляются данные о товарообороте?</p>
          </mat-grid-tile>
          <mat-grid-tile colspan="3">
            <mat-form-field appearance="fill">
              <mat-label></mat-label>
              <mat-select
                placeholder=""
                formControlName="turnover_data_providing_day">
                <mat-option [value]="option.value" *ngFor="let option of enumService.monthDays">{{option.viewValue}}</mat-option>
              </mat-select>
              <mat-hint align="start">Число в месяце после оборотного периода</mat-hint>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="3">
            <p class="paragraph_tile">До какого числа оплачивается плата от товарооборота?</p>
          </mat-grid-tile>
          <mat-grid-tile colspan="3">
            <mat-form-field appearance="fill">
              <mat-label></mat-label>
              <mat-select
                placeholder=""
                formControlName="turnover_fee_payment_day">
                <mat-option [value]="option.value" *ngFor="let option of enumService.monthDays">{{option.viewValue}}</mat-option>
              </mat-select>
              <mat-hint align="start">Число в месяце после оборотного периода</mat-hint>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
      </div>
      <mat-divider></mat-divider>
      <mat-grid-list cols="2" rowHeight="40px">
        <mat-grid-tile colspan="1">
          <div class="btn-left">
            <button
              mat-raised-button
              color="accent"
              type="button"
              (click)="onClose()"

            >Отмена</button>

            <button
              mat-raised-button
              color="primary"
              [disabled]="globalService.editCardTrigger$.value == false
            || setupService.contract_setup_form_step_main.invalid
            || setupService.contract_setup_form_step_commercial.invalid
            || setupService.contract_setup_form_step_tnr.invalid
            || setupService.contract_setup_form_step_CAutils.invalid
            || setupService.contract_setup_form_step_guarantee.invalid"
              (click)="onSubmit()"
            >
              Сохранить изменения
            </button>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
          <div class="btn-right">
            <button mat-button matStepperPrevious>Назад</button>
            <button mat-button matStepperNext>Далее/Пропустить</button>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-step>

    <mat-step *ngIf="setupService.periodicalFeeArray.length > 0">
        <ng-template matStepLabel>Регулярные сборы</ng-template>
        <mat-divider></mat-divider>

        <form [formGroup]="setupService.periodicalFeeSetupTabsForm">
          <ng-container formArrayName="periodicalFeeSetupArray">
            <mat-tab-group>
              <mat-tab
                *ngFor="let fee of setupService.periodicalFeeSetupTabs.controls; index as i"
              >
                <ng-template mat-tab-label>
                  <span class="tab_label_span1">{{setupService.periodicalFeeArray[i].periodical_fee_name}}</span>
                </ng-template>
                <ng-container [formGroupName]="i">
                  <input type="hidden" formControlName="id">
                  <input type="hidden" formControlName="rent_contract_setup_id">

                  <mat-grid-list cols="12" rowHeight="75px">
                    <mat-grid-tile colspan="5">
                      <p class="paragraph_tile">{{setupService.periodicalFeeArray[i].periodical_fee_name}} указывается за 1 кв.м. помещения или за помещение полностью?</p>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="7">
                      <mat-form-field appearance="fill">
                        <mat-label></mat-label>
                        <mat-select
                          placeholder=""
                          formControlName="periodical_fee_calculation_method">
                          <mat-option [value]="option.value" *ngFor="let option of enumService.CalculationMethod">{{option.viewValue}}</mat-option>
                        </mat-select>
                        <mat-hint align="start"></mat-hint>

                      </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile colspan="5">
                      <p class="paragraph_tile">За какой период времени указывается {{setupService.periodicalFeeArray[i].periodical_fee_name}}?</p>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="7">
                      <mat-form-field appearance="fill">
                        <mat-label></mat-label>
                        <mat-select
                          placeholder=""
                          formControlName="periodical_fee_calculation_period">
                          <mat-option [value]="option.value" *ngFor="let option of enumService.CalculationPeriod">{{option.viewValue}}</mat-option>
                        </mat-select>

                      </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile colspan="5" *ngIf="setupService.periodicalFeeMethod.value[i] == 'Per_sqm'">
                      <p class="paragraph_tile">Сколько составит {{setupService.periodicalFeeArray[i].periodical_fee_name}} за 1 кв. м. помещения {{setupService.periodicalFeeCalculationPeriod.value[i]}}?</p>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="7" *ngIf="setupService.periodicalFeeMethod.value[i] == 'Per_sqm'">
                      <mat-form-field appearance="fill">
                        <mat-label></mat-label>
                        <input matInput formControlName="periodical_fee_per_sqm" autocomplete="off">
                        <mat-error>Введите число с 2 знаками после точки</mat-error>
                        <mat-hint align="start">Укажите, только если этот размер ставки является единым для всех арендаторов</mat-hint>
                      </mat-form-field>
                    </mat-grid-tile>


                    <mat-grid-tile colspan="5" *ngIf="setupService.periodicalFeeMethod.value[i] == 'Total'">
                      <p class="paragraph_tile">Сколько составит {{setupService.periodicalFeeArray[i].periodical_fee_name}} за всё помещение {{setupService.periodicalFeeCalculationPeriod.value[i]}}?</p>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="7" *ngIf="setupService.periodicalFeeMethod.value[i] == 'Total'">
                      <mat-form-field appearance="fill">
                        <mat-label></mat-label>
                        <input matInput formControlName="periodical_fee_total_payment" autocomplete="off">
                        <mat-error>Введите число с 2 знаками после точки</mat-error>
                        <mat-hint align="start">Укажите, только если этот размер платежа является единым для всех арендаторов</mat-hint>
                      </mat-form-field>
                    </mat-grid-tile>


                    <mat-grid-tile colspan="5">
                      <p class="paragraph_tile">{{setupService.periodicalFeeArray[i].periodical_fee_name}} оплачивается в порядке предоплаты или постоплаты?</p>
                    </mat-grid-tile>
                    <mat-grid-tile colspan="3">
                      <mat-form-field appearance="fill">
                        <mat-label></mat-label>
                        <mat-select
                          placeholder=""
                          formControlName="periodical_fee_prepayment_or_postpayment">
                          <mat-option [value]="option.value" *ngFor="let option of enumService.PrepaymentOrPostpayment">{{option.viewValue}}</mat-option>
                        </mat-select>

                      </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile colspan="4">
                      <mat-form-field appearance="fill" *ngIf="setupService.periodicalFeePrePaymentOrPostPayment.value[i] == 'Prepayment'">
                        <mat-label>Число в предшествующем месяце</mat-label>
                        <mat-select
                          placeholder="Число в предшествующем месяце"
                          formControlName="periodical_fee_advance_payment_day">
                          <mat-option [value]="option.value" *ngFor="let option of enumService.monthDays">{{option.viewValue}}</mat-option>
                        </mat-select>
                        <mat-hint align="start">Срок оплаты за следующий месяц</mat-hint>
                      </mat-form-field>
                      <mat-form-field appearance="fill" *ngIf="setupService.periodicalFeePrePaymentOrPostPayment.value[i] == 'Postpayment'">
                        <mat-label>Число в следующем месяце</mat-label>
                        <mat-select
                          placeholder="Число в следующем месяце"
                          formControlName="periodical_fee_post_payment_day">
                          <mat-option [value]="option.value" *ngFor="let option of enumService.monthDays">{{option.viewValue}}</mat-option>
                        </mat-select>
                        <mat-hint align="start">Срок оплаты за предыдущий месяц</mat-hint>
                      </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile colspan="5">
                      <p class="paragraph_tile">Каким образом {{setupService.periodicalFeeArray[i].periodical_fee_name}} ежегодно индексируется?</p>
                    </mat-grid-tile>

                    <mat-grid-tile colspan="3">
                      <mat-form-field appearance="fill">
                        <mat-label></mat-label>
                        <mat-select
                          placeholder=""
                          formControlName="periodical_fee_indexation_type">
                          <mat-option [value]="option.value" *ngFor="let option of enumService.indexationType">{{option.viewValue}}</mat-option>
                        </mat-select>

                      </mat-form-field>
                    </mat-grid-tile>

                    <mat-grid-tile colspan="4">
                      <mat-form-field appearance="fill">
                        <mat-label>Значение % индексации</mat-label>
                        <input matInput formControlName="periodical_payment_indexation_fixed" autocomplete="off">
                        <mat-error>Введите число с 2 знаками после точки</mat-error>
                        <mat-hint align="start">{{setupService.periodicalFeeArray[i].periodical_fee_name}} увеличивется ежегодно на этот %</mat-hint>
                      </mat-form-field>
                    </mat-grid-tile>

                  </mat-grid-list>
                </ng-container>
              </mat-tab>
            </mat-tab-group>
          </ng-container>
      </form>
      <mat-divider></mat-divider>
      <mat-grid-list cols="2" rowHeight="40px">
        <mat-grid-tile colspan="1">
          <div class="btn-left">
            <button
              mat-raised-button
              color="accent"
              type="button"
              (click)="onClose()"

            >Отмена</button>

            <button
              mat-raised-button
              color="primary"
              [disabled]="globalService.editCardTrigger$.value == false
            || setupService.contract_setup_form_step_main.invalid
            || setupService.contract_setup_form_step_commercial.invalid
            || setupService.contract_setup_form_step_tnr.invalid
            || setupService.contract_setup_form_step_CAutils.invalid
            || setupService.contract_setup_form_step_guarantee.invalid"
              (click)="onSubmit()"
            >
              Сохранить изменения
            </button>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
          <div class="btn-right">
            <button mat-button matStepperPrevious>Назад</button>
            <button mat-button matStepperNext>Далее/Пропустить</button>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-step>

    <mat-step *ngIf="setupService.oneTimeFeeArray.length>0">
      <ng-template matStepLabel>Единовременные сборы</ng-template>
      <mat-divider></mat-divider>

      <form [formGroup]="setupService.oneTimeFeeSetupTabsForm">
        <ng-container formArrayName="oneTimeFeeSetupArray">
          <mat-tab-group>
            <mat-tab
              *ngFor="let fee of setupService.oneTimeFeeSetupTabs.controls; index as i"
            >
              <ng-template mat-tab-label>
                <span class="tab_label_span1">{{setupService.oneTimeFeeArray[i].one_time_fee_name}}</span>
              </ng-template>
              <ng-container [formGroupName]="i">
                <input type="hidden" formControlName="id">
                <input type="hidden" formControlName="rent_contract_setup_id">

                <mat-grid-list cols="12" rowHeight="75px">
                  <mat-grid-tile colspan="5">
                    <p class="paragraph_tile">
                      {{setupService.oneTimeFeeArray[i].one_time_fee_name}} указывается за 1 кв.м. помещения или за помещение полностью?</p>
                  </mat-grid-tile>
                  <mat-grid-tile colspan="7">
                    <mat-form-field appearance="fill">
                      <mat-label></mat-label>
                      <mat-select
                        placeholder=""
                        formControlName="one_time_fee_calculation_method">
                        <mat-option [value]="option.value" *ngFor="let option of enumService.CalculationMethod">{{option.viewValue}}</mat-option>
                      </mat-select>
                      <mat-hint align="start"></mat-hint>
                    </mat-form-field>
                  </mat-grid-tile>

                  <mat-grid-tile colspan="5" *ngIf="setupService.oneTimeFeeMethod.value[i] == 'Per_sqm'">
                    <p class="paragraph_tile">Сколько составит {{setupService.oneTimeFeeArray[i].one_time_fee_name}} за 1 кв. м. помещения?</p>
                  </mat-grid-tile>
                  <mat-grid-tile colspan="7" *ngIf="setupService.oneTimeFeeMethod.value[i] == 'Per_sqm'">
                    <mat-form-field appearance="fill">
                      <mat-label></mat-label>
                      <input matInput formControlName="one_time_fee_per_sqm" autocomplete="off">
                      <mat-error>Введите число с 2 знаками после точки</mat-error>
                      <mat-hint align="start">Укажите, только если этот размер ставки является единым для всех Арендаторов</mat-hint>
                    </mat-form-field>
                  </mat-grid-tile>


                  <mat-grid-tile colspan="5" *ngIf="setupService.oneTimeFeeMethod.value[i] == 'Total'">
                    <p class="paragraph_tile">Сколько составит {{setupService.oneTimeFeeArray[i].one_time_fee_name}} за всё помещение?</p>
                  </mat-grid-tile>
                  <mat-grid-tile colspan="7" *ngIf="setupService.oneTimeFeeMethod.value[i] == 'Total'">
                    <mat-form-field appearance="fill">
                      <mat-label></mat-label>
                      <input matInput formControlName="one_time_fee_total_payment" autocomplete="off">
                      <mat-error>Введите число с 2 знаками после точки</mat-error>
                      <mat-hint align="start">Укажите, только если этот размер платежа является единым для всех Арендаторов</mat-hint>
                    </mat-form-field>
                  </mat-grid-tile>

                  <mat-grid-tile colspan="5">
                    <p class="paragraph_tile">
                      Каким образом регулируется срок, в который оплачивается {{setupService.oneTimeFeeArray[i].one_time_fee_name}}?</p>
                  </mat-grid-tile>
                  <mat-grid-tile colspan="7">
                    <mat-form-field appearance="fill">
                      <mat-label></mat-label>
                      <mat-select
                        placeholder=""
                        formControlName="one_time_fee_payment_term">
                        <mat-option [value]="option.value" *ngFor="let option of enumService.paymentTerm">{{option.viewValue}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </mat-grid-tile>

                  <mat-grid-tile colspan="5" *ngIf="setupService.oneTimeFeePaymentTerm.value[i] == 'Fixed_date'">
                    <p class="paragraph_tile">{{setupService.oneTimeFeeArray[i].one_time_fee_name}} оплачивается не позднее</p>
                  </mat-grid-tile>
                  <mat-grid-tile colspan="7" *ngIf="setupService.oneTimeFeePaymentTerm.value[i] == 'Fixed_date'">
                    <mat-form-field appearance="fill">
                      <mat-label></mat-label>
                      <input matInput [matDatepicker]="pickerOneTimeFeePaymentDate" formControlName="one_time_fee_contract_payment_date" autocomplete="off">
                      <mat-hint align="start">Укажите только, если эта дата является единой для всех Арендаторов</mat-hint>
                      <mat-datepicker-toggle matSuffix [for]="pickerOneTimeFeePaymentDate"></mat-datepicker-toggle>
                      <mat-datepicker #pickerOneTimeFeePaymentDate></mat-datepicker>
                    </mat-form-field>
                  </mat-grid-tile>

                  <mat-grid-tile colspan="5" *ngIf="setupService.oneTimeFeePaymentTerm.value[i] == 'Triggering_event_date'">
                    <p class="paragraph_tile">Наступление какого события влияет на срок оплаты?</p>
                  </mat-grid-tile>
                  <mat-grid-tile colspan="7" *ngIf="setupService.oneTimeFeePaymentTerm.value[i] == 'Triggering_event_date'">
                    <mat-form-field appearance="fill">
                      <mat-label></mat-label>
                      <mat-select
                        placeholder=""
                        formControlName="one_time_fee_payment_triggering_event">
                        <mat-option [value]="option.value" *ngFor="let option of enumService.triggeringEvent">{{option.viewValue}}</mat-option>
                      </mat-select>

                    </mat-form-field>
                  </mat-grid-tile>

                  <mat-grid-tile colspan="5" *ngIf="setupService.oneTimeFeePaymentTerm.value[i] == 'Triggering_event_date'">
                    <p class="paragraph_tile">В какой срок после наступления события должна произойти оплата?</p>
                  </mat-grid-tile>
                  <mat-grid-tile colspan="7" *ngIf="setupService.oneTimeFeePaymentTerm.value[i] == 'Triggering_event_date'">
                    <mat-form-field appearance="fill">
                      <mat-label></mat-label>
                      <input matInput formControlName="one_time_fee_contract_triggering_event_related_payment_day" autocomplete="off">
                      <mat-hint align="start">Количество дней после наступления события</mat-hint>
                    </mat-form-field>
                  </mat-grid-tile>

                </mat-grid-list>
              </ng-container>
            </mat-tab>
          </mat-tab-group>
        </ng-container>
      </form>
      <mat-divider></mat-divider>
      <mat-grid-list cols="2" rowHeight="40px">
        <mat-grid-tile colspan="1">
          <div class="btn-left">
            <button
              mat-raised-button
              color="accent"
              type="button"
              (click)="onClose()"

            >Отмена</button>

            <button
              mat-raised-button
              color="primary"
              [disabled]="globalService.editCardTrigger$.value == false
            || setupService.contract_setup_form_step_main.invalid
            || setupService.contract_setup_form_step_commercial.invalid
            || setupService.contract_setup_form_step_tnr.invalid
            || setupService.contract_setup_form_step_CAutils.invalid
            || setupService.contract_setup_form_step_guarantee.invalid"
              (click)="onSubmit()"
            >
              Сохранить изменения
            </button>
          </div>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
          <div class="btn-right">
            <button mat-button matStepperPrevious>Назад</button>
            <button mat-button matStepperNext>Далее/Пропустить</button>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-step>

    <mat-step [stepControl]="setupService.contract_setup_form_step_CAutils">
        <ng-template matStepLabel>Ком. ресурсы</ng-template>
          <mat-divider></mat-divider>

      <form [formGroup]="setupService.utilityFeeSetupTabsForm" *ngIf="setupService.utilityFeeArray.length >0">
        <ng-container formArrayName="utilityFeeSetupArray">
        <mat-tab-group>
          <mat-tab
            *ngFor="let fee of setupService.utilityFeeSetupTabs.controls; index as i"
          >
            <ng-template mat-tab-label>
              <span class="tab_label_span1">{{setupService.utilityFeeArray[i].utility_name}}</span>
            </ng-template>
            <ng-container [formGroupName]="i">
              <input type="hidden" formControlName="id">
              <input type="hidden" formControlName="rent_contract_setup_id">

              <mat-grid-list cols="12" rowHeight="90px">
                <mat-grid-tile colspan="3">
                  <p class="paragraph_tile">До какого числа предоставляются данные прибора учета?</p>
                </mat-grid-tile>
                <mat-grid-tile colspan="3">
                  <mat-form-field appearance="fill">
                    <mat-label></mat-label>
                    <mat-select
                      placeholder=""
                      formControlName="compensation_counter_data_providing_day">
                      <mat-option [value]="option.value" *ngFor="let option of enumService.monthDays">{{option.viewValue}}</mat-option>
                    </mat-select>
                    <mat-hint align="start">Число в месяце, следующем за учетным</mat-hint>
                  </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile colspan="3">
                  <p class="paragraph_tile">До какого числа оплачивается потребление коммунального ресурса?</p>
                </mat-grid-tile>
                <mat-grid-tile colspan="3">
                  <mat-form-field appearance="fill">
                    <mat-label></mat-label>
                    <mat-select
                      placeholder=""
                      formControlName="compensation_post_payment_day">
                      <mat-option [value]="option.value" *ngFor="let option of enumService.monthDays">{{option.viewValue}}</mat-option>
                    </mat-select>
                    <mat-hint align="start">Число в месяце, следующем за учетным</mat-hint>
                  </mat-form-field>
                </mat-grid-tile>
              </mat-grid-list>
            </ng-container>
          </mat-tab>
        </mat-tab-group>
          <mat-divider></mat-divider>
        </ng-container>
      </form>

              <form [formGroup]="setupService.contract_setup_form_step_CAutils"
                    label="Компенсация затрат на коммунальные ресурсы для мест общего пользования"
                    *ngIf="setupService.caUtilitiesCompensationIsApplicable.value == true"
              >

                <mat-grid-list cols="12" rowHeight="75px">

          <mat-grid-tile colspan="5">
            <p class="paragraph_tile">Каким образом рассчитывается компенсация затрат на коммунальные ресурсы для мест общего пользования?</p>
          </mat-grid-tile>
          <mat-grid-tile colspan="7">
            <mat-form-field appearance="fill">
              <mat-label></mat-label>
              <mat-select
                placeholder=""
                formControlName="CA_utilities_compensation_type">
                <mat-option [value]="option.value" *ngFor="let option of enumService.caUtilitiesCompensationType">{{option.viewValue}}</mat-option>
              </mat-select>
              <mat-hint align="start">Эти затраты обычно распределяются на всех арендаторов согласно их доле в аренднопригодной площади здания</mat-hint>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="12" rowHeight="75px"
                       *ngIf="setupService.caUtilitiesCompensation.value == 'Proportional to GLA'
                       || setupService.caUtilitiesCompensation.value == 'Proportional to leased area'">
          <mat-grid-tile colspan="5">
            <p class="paragraph_tile">До какого числа компенсация должна быть оплачена арендатором</p>
          </mat-grid-tile>
          <mat-grid-tile colspan="7">
            <mat-form-field appearance="fill">
              <mat-label></mat-label>
              <mat-select
                placeholder=""
                formControlName="CA_utilities_compensation_fee_post_payment_day">
                <mat-option [value]="option.value" *ngFor="let option of enumService.monthDays">{{option.viewValue}}</mat-option>
              </mat-select>
              <mat-hint align="start">Число в следующем месяце за оплачиваемым</mat-hint>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>

        <mat-grid-list cols="12" rowHeight="75px" *ngIf="setupService.caUtilitiesCompensation.value == 'Fixed'">
          <mat-grid-tile colspan="5">
            <p class="paragraph_tile">Фиксированная компенсация за коммунальные услуги мест общего пользования оплачивается в порядке предоплаты или постоплаты?</p>
          </mat-grid-tile>
          <mat-grid-tile colspan="3">
            <mat-form-field appearance="fill">
              <mat-label></mat-label>
              <mat-select
                placeholder=""
                formControlName="CA_utilities_compensation_fee_prepayment_or_postpayment">
                <mat-option [value]="option.value" *ngFor="let option of enumService.PrepaymentOrPostpayment">{{option.viewValue}}</mat-option>
              </mat-select>

            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="4">
            <mat-form-field appearance="fill" *ngIf="setupService.caUtilitiesCompensationFeePrepaymentOrPostpayment.value == 'Prepayment'">
              <mat-label>Число в предшествующем месяце</mat-label>
              <mat-select
                placeholder="Число в предшествующем месяце"
                formControlName="CA_utilities_compensation_fee_advance_payment_day">
                <mat-option [value]="option.value" *ngFor="let option of enumService.monthDays">{{option.viewValue}}</mat-option>
              </mat-select>
              <mat-hint align="start">Срок оплаты за следующий месяц</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill" *ngIf="setupService.caUtilitiesCompensationFeePrepaymentOrPostpayment.value == 'Postpayment'">
              <mat-label>Число в следующем месяце</mat-label>
              <mat-select
                placeholder="Число в следующем месяце"
                formControlName="CA_utilities_compensation_fee_post_payment_day">
                <mat-option [value]="option.value" *ngFor="let option of enumService.monthDays">{{option.viewValue}}</mat-option>
              </mat-select>
              <mat-hint align="start">Срок оплаты за предыдущий месяц</mat-hint>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="5">
            <p class="paragraph_tile">Каким образом фиксированная компенсация за коммунальные услуги мест общего пользования ежегодно индексируется?</p>
          </mat-grid-tile>

          <mat-grid-tile colspan="3">
            <mat-form-field appearance="fill">
              <mat-label></mat-label>
              <mat-select
                placeholder=""
                formControlName="CA_utilities_compensation_fixed_indexation_type">
                <mat-option [value]="option.value" *ngFor="let option of enumService.indexationType">{{option.viewValue}}</mat-option>
              </mat-select>

            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="4">
            <mat-form-field appearance="fill">
              <mat-label>Значение % индексации</mat-label>
              <input matInput formControlName="CA_utilities_compensation_fee_fixed_indexation_type_fixed" autocomplete="off">
              <mat-hint align="start">Фиксированная компенсация увеличивется ежегодно на этот %</mat-hint>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>

      </form>
    <mat-divider></mat-divider>
    <mat-grid-list cols="2" rowHeight="40px">
      <mat-grid-tile colspan="1">
        <div class="btn-left">
          <button
            mat-raised-button
            color="accent"
            type="button"
            (click)="onClose()"

          >Отмена</button>

          <button
            mat-raised-button
            color="primary"
            [disabled]="globalService.editCardTrigger$.value == false
            || setupService.contract_setup_form_step_main.invalid
            || setupService.contract_setup_form_step_commercial.invalid
            || setupService.contract_setup_form_step_tnr.invalid
            || setupService.contract_setup_form_step_CAutils.invalid
            || setupService.contract_setup_form_step_guarantee.invalid"
            (click)="onSubmit()"
          >
            Сохранить изменения
          </button>
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">
        <div class="btn-right">
          <button mat-button matStepperPrevious>Назад</button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
    </mat-step>
  </mat-stepper>




