<div>
  <mat-grid-list cols="3" rowHeight="75px">
    <mat-grid-tile [colspan]="1">
      <div class="header_tile">
        <h3 mat-dialog-title>
          {{service.rentContract.value['id']?"Изменить договор аренды №":"Добавить договор аренды"}}
          {{service.rentContract.value['rent_contract_number']}}
        </h3>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1">
      <mat-form-field appearance="outline">
        <mat-select>
          <mat-option *ngFor="let aa of service.enumContractOrAA.value"
                      [value]="aa">
            {{aa}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1">
      <div class="toggle_tile">

        <button mat-raised-button
                [disabled] = '!globalService.editCardTrigger$.value || !service.rentContractIsLoaded$.value'
                (click)="this.additionalAgreementService.createAdditionalAgreement()"
        >Добавить д/с
        </button>

        <button mat-raised-button
                [disabled] = '!globalService.editCardTrigger$.value || !service.rentContractIsLoaded$.value'
                (click)="contractSetupOpen()"
        >
          <mat-icon>settings</mat-icon>
        </button>
        <mat-slide-toggle
          *ngIf="service.rentContract.value['id']"
          [checked]="globalService.editCardTrigger$.value"
          (change)="globalService.editCardToggle($event)"
        >
        </mat-slide-toggle>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<app-rental-contracts-form></app-rental-contracts-form>

