
<div class="search-div">
  <button mat-raised-button
          [disabled] = "service.rentContractListButtonsActivateTrigger$.value == false"
          (click)="onCreate()

"><mat-icon>add</mat-icon> Добавить договор</button>
  <mat-form-field class="search-form-field">
    <mat-label>Найти...</mat-label>
    <input matInput type="text" [(ngModel)]="searchKey" autocomplete="on"  (keyup)="applyFilter()">
    <button
      [disabled] = "service.rentContractListButtonsActivateTrigger$.value == false"
      *ngIf="searchKey" matSuffix mat-icon-button aria-label="Clear" (click)="searchKey=''">
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
  <button mat-raised-button
          [disabled] = "service.rentContractListButtonsActivateTrigger$.value == false"
          (click)="contractSetup()
"><mat-icon>settings</mat-icon> Настройки договора</button>
  <button mat-raised-button
          [disabled] = "service.rentContractListButtonsActivateTrigger$.value == false"
          (click)="clearContractSetup()
"><mat-icon>delete</mat-icon></button>
</div>
<div class="mat-elevation-z8">
  <mat-table [dataSource]="tableData" matSort>

    <ng-container matColumnDef="rent_contract_number">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Номер договора</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.rent_contract_number}}</mat-cell>

    </ng-container><ng-container matColumnDef="premise_number">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Помещение</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.premise_number[0]}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="tenant_contractor_company_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Арендатор</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.tenant_contractor_company_name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="brand_name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Торговая марка</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.brand_name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
        <button mat-icon-button color="warn" (click)="onDelete(row)"><mat-icon>delete_outline</mat-icon></button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Загрузка...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="no_data">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Нет данных
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':tableData!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['no_data']" [ngClass]="{'hide':!(tableData!=null && tableData.data.length == null)}"></mat-footer-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
</div>
