<mat-grid-list cols="2" rowHeight="45px">
  <mat-grid-tile colspan="2">
    <div class="header_tile">
      <h3 mat-dialog-title>{{service.fixedRentNameSubject.value}}: &nbsp;</h3>
      <h3 mat-dialog-title>
        {{stepService.fixedRentStepArray.value[0].id?"редактировать периодическое изменение":"добавить периодическое изменение"}}
      </h3>
    </div>
  </mat-grid-tile>
  <div class="toggle_tile_align_right">

    <button mat-raised-button

            (click)="stepService.setNewFixedRentStepFormLine()"
            [disabled] = '!globalService.editCardTrigger$.value || stepService.fixedRentStepForm.invalid'
    >
      <mat-icon>add_circle</mat-icon>
    </button>

  </div>

</mat-grid-list>

<mat-dialog-content>
  <div
    [formGroup]="stepService.fixedRentStepForm">
    <ng-container formArrayName="fixedRentStepFormArray">
      <ng-container
        *ngFor="let step of stepService.fixedRentStepFormLines.controls; index as i"
        [formGroupName]="i"
      >
        <mat-grid-list
          cols="23" rowHeight="75px">
          <mat-grid-tile colspan="1">
            <div>
              <h4>{{i+1}}</h4>
            </div>
          </mat-grid-tile>
          <mat-grid-tile colspan="7">
            <input type="hidden" formControlName="id">
            <mat-form-field appearance="fill"
                            (click)="startDatePicker.open(); this.stepService.setFixedRentIntervalUsedDatesArrayTemp($event, i)">
              <mat-label
                (click)="this.stepService.setFixedRentIntervalUsedDatesArrayTemp($event, i)">Дата начала периода</mat-label>
              <input matInput
                     formControlName="start_date"
                     [readonly]=true
                     [matDatepickerFilter]="stepValidatorService.fixedRentStepDateFilter"
                     [min]="service.rentContractRentStartDateMin$.value"
                     [max]="service.rentContractRentStartDateMax$.value"
                     [matDatepicker]="$any(startDatePicker)"
                     autocomplete="off">
              <mat-error *ngIf="step.get('start_date')?.hasError('required')">
                Обязательное поле</mat-error>
              <mat-datepicker-toggle matSuffix [for]="startDatePicker">
                <mat-icon
                  *ngIf="this.globalService.editCardTrigger$.value"
                  matDatepickerToggleIcon (click)="stepService.clearFixedRentStepPaymentStartDate($event, i)">clear</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #startDatePicker></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="7">
            <mat-form-field appearance="fill"
                            (click)="expirationDatePicker.open(); this.stepService.setFixedRentIntervalUsedDatesArrayTemp($event, i)">
              <mat-label
                (click)="this.stepService.setFixedRentIntervalUsedDatesArrayTemp($event, i)">Дата окончания периода</mat-label>
              <input matInput
                     formControlName="expiration_date"
                     [readonly]=true
                     [matDatepickerFilter]="stepValidatorService.fixedRentStepDateFilter"
                     [min]="service.rentContractRentStartDateMin$.value"
                     [max]="service.rentContractRentStartDateMax$.value"
                     [matDatepicker]="$any(expirationDatePicker)"
                     autocomplete="off">
              <mat-error *ngIf="step.get('expiration_date')?.hasError('required')">
                Обязательное поле</mat-error>
              <mat-datepicker-toggle matSuffix [for]="expirationDatePicker">
                <mat-icon *ngIf="this.globalService.editCardTrigger$.value"
                          matDatepickerToggleIcon
                          (click)="stepService.clearFixedRentStepPaymentExpirationDate($event, i)">clear</mat-icon>
              </mat-datepicker-toggle>
              <mat-datepicker #expirationDatePicker></mat-datepicker>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="7"
                         *ngIf="service.form_contract.controls['fixed_rent_calculation_method'].value == 'Per_sqm'">
            <mat-form-field
              appearance="fill">
              <mat-label>{{service.fixedRentNameSubject.value}}</mat-label>
              <input matInput
                     formControlName="fixed_rent_amount"
                     placeholder={{service.fixedRentNameSubject.value}}
                     autocomplete="off">
              <mat-hint>В рублях за 1 кв. м. помещения {{service.fixedRentCalculationPeriod$.value}}</mat-hint>
              <mat-error *ngIf="step.get('fixed_rent_amount')?.hasError('required')">
                Обязательное поле</mat-error>
              <mat-error *ngIf="step.get('fixed_rent_amount')?.hasError('pattern')">
                Введите число с 2 знаками после точки
              </mat-error>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile colspan="1">
            <div *ngIf="i>0 && this.globalService.editCardTrigger$.value">
              <h4>
                <button
                  (click)="stepService.deleteFixedRentStepLine(i, step.value)"
                  mat-icon-button color="warn"><mat-icon>delete_outline</mat-icon></button>
              </h4>
            </div>
          </mat-grid-tile>

        </mat-grid-list>
      </ng-container>
    </ng-container>


  </div>
</mat-dialog-content>

<mat-grid-list cols="2" rowHeight="40px">
  <mat-grid-tile colspan="1">
    <div class="btn-left">
      <button
        *ngIf="service.form_contract.controls['id'].value"
        mat-raised-button
        color="primary"
        type="submit"
        [disabled] = "globalService.editCardTrigger$.value == false
            || stepService.fixedRentStepForm.invalid"
        (click)="onSubmit()"
      >
        Готово
      </button>
    </div>
  </mat-grid-tile>
</mat-grid-list>
